* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  background: #ffffff;
}

/* html, body, #root {
  overflow-x: hidden;
} */